{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="{% url 'dashboard' %}">N L C</a>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    ADMIN
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'dashboard' %}" class="sidebar-link"><i class="fa-solid fa-bars"> </i></i>
                        DASHBOARD</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'dashboard_register' %}" class="sidebar-link"><i class="fa-solid fa-user"> </i>
                        REGISTER</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'dashboard_view' %}" class="sidebar-link"><i
                            class="fa-solid fa-magnifying-glass"></i> VIEW</a>
                </li>
            </ul>
        </div>
    </aside>


    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" type="button" id="sidebar-toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" id="avatar-toggle" class="nav-icon pe-md-0">
                            <img src="/static/images/profile.jpg" class="avatar img-fluid rounded" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" id="avatar-dropdown">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'profile' %}">PROFILE</a></li>
                                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">

                <div class="mb-3">
                    <h3>DETAILS ABOUT <strong> {{ record.firmname }}</strong></h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Firm Name</td>
                                <td>{{ record.firmname }}</td>
                            </tr>
                            <tr>
                                <td>Firm Establishment</td>
                                <td>{{ record.firmest }}</td>
                            </tr>
                            <tr>
                                <td>NTN</td>
                                <td>{{ record.NTN }}</td>
                            </tr>
                            <tr>
                                <td>STRN</td>
                                <td>{{ record.STRN }}</td>
                            </tr>
                            <tr>
                                <td>Sponsor</td>
                                <td>{{ record.Sponser }}</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>{{ record.category }}</td>
                            </tr>
                            <tr>
                                <td>Reason</td>
                                <td>{{ record.reason }}</td>
                            </tr>
                            <tr>
                                <td>From Date</td>
                                <td>{{ record.fromdate }}</td>
                            </tr>
                            <tr>
                                <td>To Date</td>
                                <td>{{ record.todate }}</td>
                            </tr>
                            <tr>
                                <td>Owner Name</td>
                                <td>{{ record.ownername }}</td>
                            </tr>
                            <tr>
                                <td>Owner CNIC</td>
                                <td>{{ record.ownercnic }}</td>
                            </tr>
                            <tr>
                                <td>Landline Number</td>
                                <td>{{ record.landlinenumber }}</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>{{ record.phonenumber }}</td>
                            </tr>
                            <tr>
                                <td>Owner Email</td>
                                <td>{{ record.owneremail }}</td>
                            </tr>
                            <tr>
                                <td>Website URL</td>
                                <td>{{ record.websiteurl }}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{ record.address }}</td>
                            </tr>
                            <tr>
                                <td>BAN</td>
                                <td>{{ record.BAN }}</td>
                            </tr>
                            <tr>
                                <td>STATUS</td>
                                {% if record.status == 'ACTIVE' %}
                                <td class="bg-success text-light text-center">{{record.status}}</td>
                                {% else %}
                                <td class="bg-danger text-light text-center">{{record.status}}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Upload File</td>
                                <td>
                                    {% if image_path_or_url %}
                                    <p>
                                        <a href="{{ image_path_or_url }}" download>Download PDF</a>
                                    </p>
                                    {% else %}
                                    <p>No PDF available</p>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-start align-items-start">
                        <div>
                            <a href="{% url 'dashboard_update' record.record_id_str %}" class="btn btn-success"><i
                                    class="fa-solid fa-pen"></i></a>
                        </div>
                        <div>
                            <form method="post" action="{% url 'delete_firmdata' record.record_id_str %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock content %}